.spotlight-box{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.spotlight-background{    
    position:absolute;
    overflow: hidden;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;

}

.spotlight-background img, .spotlight-background video{
    display: flex;
    width: calc(100% + 1vw);    
    filter: blur(0.25rem) contrast(.5);
}

.spotlight-icon{
    /* height: max-content; */

    border-radius: 4rem;
    overflow: hidden;

    display: flex;
}

.spotlight-icon img{
    flex-grow: 1;
    width: 100%;
    object-fit: cover;
}

.spotlight-visual{
    display: flex;
    position: relative;
    padding: 25px 75px 25px 75px;
    align-items: center;
}

.spotlight-info{
    justify-content: center;
    margin-left: 5vw;
}

/* INFO */
.spotlight-title{
    font-size: calc(100% + 1vw);
    text-align: center;
    
    margin: 0;
    padding-bottom: 15px;
}


.spotlight-description{
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 50px;
}

.spotlight-button{
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 1rem;
    font-weight: bolder;
}


/* Smaller Phones */
@media only screen and (max-width: 400px){
    
}

/* Phones */
@media only screen and (max-width: 600px){
    .spotlight-visual{
        flex-direction: column;

        padding: 25px 0 50px;
        width: 100vw;
    }
    .spotlight-info{
        margin: 0;
        text-align: center;
        margin: 15px;
    }

    .spotlight-icon{ width: 250px; }

    .spotlight-background img, .spotlight-background video{
        height: 100vh;    
        width: auto;
    }
    
    .spotlight-title{
        margin: 0 0 20px;
    }
    .spotlight-description{ display: none; }
}