.spotlight-box{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.spotlight-background{    
    position:absolute;
    overflow: hidden;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;

}

.spotlight-background img, .spotlight-background video{
    display: flex;
    width: calc(100% + 1vw);    
    filter: blur(0.25rem) contrast(.5);
}

.spotlight-icon{
    width: 750px;
    height: max-content;

    border-radius: 4rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.spotlight-icon img{
    flex-grow: 1;
    width: 100%;
    object-fit: cover;
}

.spotlight-visual{
    display: flex;
    position: relative;
    margin: 0;
    padding: 25px 75px 25px 75px;
    height: 100%;
}

.spotlight-info{
    justify-content: center;
    margin-left: 50px;
}

/* INFO */
.spotlight-title{
    font-size: calc(100% + 1vw);
    text-align: center;
    
    margin: 0;
    padding-bottom: 15px;
}


.spotlight-description{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.spotlight-button{

}


/* Smaller Phones */
@media only screen and (max-width: 400px){
    
}

/* Phones */
@media only screen and (max-width: 600px){
    .spotlight-visual{
        flex-direction: column;
        align-items: center;
        padding: 25px 0 25px;
    }

    .spotlight-info{
        margin: 0 15px 0 15px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .spotlight-icon{ width: 250px; }

    .spotlight-background img, .spotlight-background video{
        height: 100vh;    
        width: auto;
    }

    .spotlight-description{
        padding-top: 10px;
        font-size: 20px;
        font-weight: normal;
    }
}