.spotlight-box{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.spotlight-background{    
    position:absolute;
    overflow: hidden;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;

}

.spotlight-background img, .spotlight-background video{
    display: flex;
    width: 1920px;    
    height: 1080px;
    filter: blur(0.25rem) contrast(.5);
}

.spotlight-icon{
    /* height: max-content; */

    border-radius: 4rem;
    overflow: hidden;

    display: flex;
}

.spotlight-icon img{
    flex-grow: 1;
    width: 100%;
    object-fit: cover;
}

.spotlight-visual{
    display: flex;
    position: relative;
    padding: 25px 75px 25px 75px;
    align-items: center;
}

.spotlight-info{
    justify-content: center;
    margin-left: 5vw;
}

/* INFO */
.spotlight-title{
    font-size: calc(100% + 1vw);
    text-align: center;
    
    margin: 0;
    padding-bottom: 15px;
}


.spotlight-description{
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 50px;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.spotlight-button{
    display:inline;
    background-color: rgb(206, 206, 206);
    color: #5755FE;
    border-radius: 2rem;
    padding: 1rem;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    transform: scale(1);
    filter: saturate(1) blur(1) opacity(1);
    transition: all 1s var(--back-out-curve);
}
.spotlight-button::after, .spotlight-button::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;;
    background-image: conic-gradient(from var(--angle), transparent 25%, #e52ba4, #5755FE, var(--default-bg-color));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 3rem;
    animation: 3s spin var(--back-inout-curve) infinite;
}

.spotlight-button:hover .spotlight-button::after, .spotlight-button:hover .spotlight-button::before{
    background-image: conic-gradient(from var(--angle), transparent 25%, #26355D, #AF47D2, #FF8F00, #FFDB00);
    animation: 1s spin linear infinite;
}

.spotlight-button:hover{
    filter: saturate(3) blur(0) opacity(0.75);
    background-color: var(--default-bg-color);
    color: var(--default-color);
}

.spotlight-button::before{
    filter: blur(1.5rem) opacity(1);
}

@keyframes spin{
    from{ --angle: 0deg; }
    to{ --angle: 360deg; }
}

/* Smaller Phones */
@media only screen and (max-width: 400px){
    
}

/* Phones */
@media only screen and (max-width: 600px){
    .spotlight-visual{
        flex-direction: column;

        padding: 25px 0 50px;
        width: 100vw;
    }
    .spotlight-info{
        margin: 0;
        text-align: center;
        margin: 15px;
    }

    .spotlight-icon{ width: 250px; }

    .spotlight-background img, .spotlight-background video{
        height: 100vh;    
        width: auto;
    }
    
    .spotlight-title{
        margin: 0 0 20px;
    }
    .spotlight-description{ display: none; }
}