* {
    user-select: none;

    -webkit-user-select: none;
    -webkit-user-drag: none;

    -ms-user-select: none;
    
    -moz-user-select: none;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

img{ pointer-events: none; }

body{ margin: 0; }

section{
    font-size: 2rem;
    padding: 2rem;
    background-color: #3d3d3d;
    color: white;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    perspective: 10px;
}

.star1{ transform: translateZ(-10px) scale(2); }
.constellations{ 
    transform: translateZ(-10px) scale(2); 
    animation: fade 5s ease-in-out both;
    animation-iteration-count: infinite;
    opacity: 0;
}
.star2{ transform: translateZ(-5px) scale(1.5); }
.star3{ transform: translateZ(-2.5px) scale(1.25); }
.nebula1{ transform: translateZ(-7px) scale(1.75); }
.nebula2{ transform: translateZ(-1.25px) scale(1.125); }

.star1, .constellations, .star2, .star3, .nebula1, .nebula2{
    pointer-events: none;
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.header-info{ display: grid; }

.title{ 
    transform: scale(0);
    animation: load .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; 
}

.title-parent{
    animation: title-bounce 20s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    animation-iteration-count: infinite;
}

#words{
    transform: scale(0);
    font-size: 2rem;
    animation: load .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;    
    animation-delay: .75s;
}

#socials{
    transform: scale(0);
    animation: load .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;    
    animation-delay: 1s;
}

#socials img{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    pointer-events: auto; 
    max-width: 50px;
    border-radius: 100%;
    
}

#socials img:hover{ animation: glow 1s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; }

.button{ transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.button:hover{    
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes fade{
    0%, 100%{ opacity: 0; }
    50%{ opacity: .05; }
}
@keyframes load{
    0%{ transform: scale(0);}
    100%{ transform: scale(1);}
}
@keyframes title-bounce{
    0%, 100%{ transform: scale(1); }
    50%{ transform: scale(1.1); }
}
@keyframes glow{
    to { box-shadow: 0px 0px 15px 5px #feffff; }
}