:root{
    --back-in-curve: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --back-out-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --back-inout-curve: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --exponential-curve: cubic-bezier(0.19, 1, 0.22, 1);
    --default-color: white;
    --default-bg-color: #262b49;
    --default-nav-color: #0d0c19;
    --default-nav-secondary-color: #1a1735;
    --bg-gradient: radial-gradient(circle at center, var(--default-bg-color), var(--default-nav-secondary-color));
    
    font-family: Arial;
    background-color: var(--default-bg-color);
    color: var(--default-color);


    /* SELECTION PREVENTION */
    user-select: none;

    -webkit-user-select: none;
    -webkit-user-drag: none;

    -ms-user-select: none;
    
    -moz-user-select: none;
}

* { text-decoration: none; }
body{ 
    margin: 0; 
    background: var(--bg-gradient); 
    background-attachment: fixed; 
    background-size: cover;
}
img{ pointer-events: none; }

.navbar{
    position: fixed;
    background-color: var(--default-nav-color);
    
    z-index: 1;

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    transition: width 0.2s var(--back-out-curve);
}
.navitem{ 
    height: auto;
    width: 100%; 
    filter: opacity(1);
    transition: all 0.25s var(--back-out-curve);
}
.navlink{
    color: var(--default-color);
    display: flex;
    align-items: center;
    height:5rem;
}

.navtext{
    display: none;
    margin-left: 1rem;
    font-weight: bold;
    transition: all 0.25s var(--back-out-curve);
}

.navitem img{
    max-width: 50px;
    margin: 0 0.75rem;
}

.navitem:hover{
    filter: opacity(0.7);
    background-color: var(--default-nav-secondary-color);
}

.navlogo{
    margin-bottom: 1rem;
    text-align: center;
    justify-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.15ch;
    background-color: #100e21;
    width: 100%;
    filter: opacity(1);
}

.navlogo:hover{
    filter: opacity(0.7);
    background-color: rgb(12, 10, 23);
}



body::-webkit-scrollbar{ width: 0.5rem; }
body::-webkit-scrollbar-track{ background: #0e0c10; }
body::-webkit-scrollbar-thumb{ background: #683d8e; }

section{
    font-size: 2rem;
    padding: 2rem;
    background: var(--bg-gradient); 
    background-attachment: fixed; 
    background-size: cover;
    color: var(--default-color);
    height: 50vh;
}

.button{ transition: all 0.25s var(--back-out-curve); }
.button:hover{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
}


/* SOCIALS */
#socials{
    transform: scale(0);
    animation: load .5s var(--back-out-curve) forwards;    
    animation-delay: 1s;
}

#socials img{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    pointer-events: auto; 
    max-width: 50px;
    border-radius: 100%;    
}

#socials img:hover{ animation: glow 1s var(--exponential-curve) infinite alternate; }
/* --- */

/* FOOTER */
.footer{
    display: grid;
    background-color: var(--default-nav-secondary-color);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footermsg{ 
    margin-top: 20px;
    margin-bottom: 20px;
}




/* --- */

@keyframes load{
    0%{ transform: scale(0);}
    100%{ transform: scale(1);}
}
@keyframes glow{ to { box-shadow: 0px 0px 15px 5px var(--default-color); }}

/* Smaller Phones */
@media only screen and (max-width: 400px){
    .navitem img{
        max-width: 35px;
        margin: 0 0.5rem;
    }
    .navlogo .navtext{
        font-size: 1rem;
    }
    @keyframes load{
        0%{ transform: scale(0);}
        100%{ transform: scale(.8);}
    }
}

/* Phones */
@media only screen and (max-width: 600px){
    .footermsg{ 
        margin-bottom: 5rem;
    }
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 4rem;
        flex-direction: row;
    }

    .navfold{ display: none; }

    .navlink{ height: 4rem; }
    .navitem, .navlogo{ justify-items: center; }

    .navlogo{ margin-bottom: 0rem; }
    .navlogo .navtext{ 
        display: block; 
        margin-left: 0rem;
        scale: 0.75;
    }

    .navitem img{ max-width: 35px; }
    section{ margin-left: 0rem; }
    .footermsg{ margin-left: 0rem; }
    .footer #socials{ margin-left: 0rem; }

    @keyframes load{
        0%{ transform: scale(0);}
        100%{ transform: scale(.9);}
    }
}

/* Larger */
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
        flex-direction: column;
    }

    .navbar:hover{ width: 13rem; }
    
    .navbar:hover .navtext{
        display: block;    
        filter: opacity(1);
    }
    
    .navbar:hover .navfold{
        transform: rotate(180deg);
        margin-right: 50px;
    }

    .navfold{
        transform: rotate(0deg);
        transition: transform .5s var(--back-out-curve);
    }    

    section{ margin-left: 4rem; }
    .footermsg{ margin-left: 4rem; }
    .footer #socials{ margin-left: 4rem; }
}